################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/setion5/bin
/setion5/obj
/.vs
